.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #transferETH,#transferERC20,#transferNFTs,
  #transactionsSection, #balancesSection, #nftSection{
    display:none;
  }

  a{
    cursor: pointer;
  }
  .card.col-md-4.nfts {
    cursor: pointer;
}

.card.col-md-4.nfts:hover {
  transition: 1s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px!important;
  transition: all 0.1s ease 0s;
  transform: translateY(-2px);
}

.the-buttons {
  display: flex;
  justify-content: space-evenly;
}

.card h5{
  font-size:14px;
}
.card h6{
  font-size:13px;
}
.card p{
  font-size:11px;
}



.button-container {
  width: 100%;
  background: rgb(75, 4, 207);
  overflow-y: auto;
}

.button-container > a {
  width: 150px;
  height: 150px;
  float: auto;
  background: rgb(143, 161, 173);   
  margin: 30px;
}




* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}